@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

.comment-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.comment-content {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
